/************************************************

  EMIL mixins

************************************************/

@mixin transition($prop: all, $time: .2s, $ease: ease-out) {
    -webkit-transition: $prop $time $ease;
       -moz-transition: $prop $time $ease;
         -o-transition: $prop $time $ease;
        -ms-transition: $prop $time $ease;
            transition: $prop $time $ease;
}
