<ng-container *ngIf="(headerState | async) as headerState">
    <div class="card-deck" *ngIf="headerState.searchRequest.symbol">
        <div class="card">
            <div class="card-header">
                Aktie
            </div>
            <div class="card-body">
                <h5 class="card-title">{{headerState.searchRequest.symbol | uppercase}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{headerState.searchRequest.stockExchange}} | {{headerState.searchRequest.region}}
                    | {{headerState.searchRequest.culture}}</h6>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Aktuelle Werte
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="list-item">
                        <div>KGV</div>
                        <div class="text-muted">price / earnings</div>
                    </div>
                    <span>{{priceEarnings}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="list-item">
                        <div>KBV</div>
                        <div class="text-muted">price / book</div>
                    </div>
                    <span>{{priceBook}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="list-item">
                        <div>KUV</div>
                        <div class="text-muted">price / sales</div>
                    </div>
                    <span>{{priceSales}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="list-item">
                        <div>Dividendenrendite</div>
                        <div class="text-muted">dividend yield</div>
                    </div>
                    <span>{{dividendYield}}</span>
                </li>
            </ul>
        </div>
    </div>
</ng-container>