<ng-container *ngIf="(headerState | async) as headerState">
    <div class="card-columns" *ngIf="headerState.searchRequest.symbol">

        <!-- stock info -->
        <div class="card">
            <div class="card-header">
                Aktie
            </div>
            <div class="card-body">
                <h5 class="card-title">{{headerState.searchRequest.symbol | uppercase}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{headerState.searchRequest.stockExchange}} | {{headerState.searchRequest.region}}
                    | {{headerState.searchRequest.culture}}</h6>
            </div>
        </div>

        <!-- valuation -->
        <div class="card">
            <div class="card-header">
                Aktuelle Werte
            </div>
            <ul class="list-group list-group-flush">
                <ng-container *ngFor="let valuationValue of valuation">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <app-headline [deu]="valuationValue.de" [eng]="valuationValue.en"></app-headline>
                        <span>{{ valuationValue.value }}</span>
                    </li>
                </ng-container>
            </ul>
        </div>

        <!-- valuation 5-years -->
        <div class="card">
            <div class="card-header">
                Aktuelle Werte (5-Jahre)
            </div>
            <ul class="list-group list-group-flush">
                <ng-container *ngFor="let valuationValue of valuation5y">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <app-headline [deu]="valuationValue.de" [eng]="valuationValue.en"></app-headline>
                        <span>{{ valuationValue.value }}</span>
                    </li>
                </ng-container>
            </ul>
        </div>



        <!-- valuation history 6-years -->
        <ng-container *ngFor="let valuationHistoryValue of valuationHistory">
            <div class="card">
                <div class="card-header">
                    <app-headline [deu]="valuationHistoryValue.de" [eng]="valuationHistoryValue.en"></app-headline>
                </div>
                <div class="card-body">
                    <p>{{ valuationHistoryValue.value }}</p>
                </div>
            </div>
        </ng-container>

        <!-- financials -->
        <ng-container *ngFor="let financeValue of finance">
            <div class="card" [ngClass]="getStatusColor(financeValue)">
                <div class="card-header">
                    <app-headline [deu]="financeValue.deu" [eng]="financeValue.eng"></app-headline>
                </div>
                <div class="card-body">
                    {{ financeValue.value }}
                    <span *ngIf="financeValue.type === 0">%</span>
                </div>
            </div>
        </ng-container>

        <ng-container *ngFor="let keyStatValue of keyStat">
            <div class="card" [ngClass]="getStatusColor(keyStatValue)">
                <div class="card-header">
                    <app-headline [deu]="keyStatValue.deu" [eng]="keyStatValue.eng"></app-headline>
                </div>
                <div class="card-body">
                    {{ keyStatValue.value }}
                    <span *ngIf="keyStatValue.type === 0">%</span>
                </div>
            </div>
        </ng-container>
    </div>

</ng-container>