<ng-container *ngIf="(headerState | async) as headerState">
    <div class="card-deck" *ngIf="headerState.searchRequest.symbol">
        <div class="card">
            <div class="card-header">
                Aktie
            </div>
            <div class="card-body">
                <h5 class="card-title">{{headerState.searchRequest.symbol | uppercase}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{headerState.searchRequest.stockExchange}} | {{headerState.searchRequest.region}}
                    | {{headerState.searchRequest.culture}}</h6>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Aktuelle Werte
            </div>
            <ul class="list-group list-group-flush">
                <ng-container *ngFor="let currentValue of currentValues">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="list-item">
                            <div>{{ currentValue.de }}</div>
                            <div class="text-muted">{{ currentValue.en }}</div>
                        </div>
                        <span>{{ currentValue.value }}</span>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</ng-container>